.box__content-st{
    width: 1000px;
    height: auto;
}

.box__item-st{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 5px;
    border: 1px solid rgb(27, 120, 214, 0.3);
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 0px !important;
    cursor: pointer;
    color: rgb(27, 120, 214, 0.9);
}

.box__tree-st {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding: 5px;
    border: 1px solid rgb(27, 120, 214, 0.1);
    border-radius: 3px;
    margin-top: 10px;
    background-color: rgb(27, 120, 214, 0.7);
    cursor: pointer;
    color: rgb(252, 252, 252);
}
